
Private Sub edit_Click()
Dim Path As String: Path = ThisWorkbook.Path & "\" & "FotoSiswa" & "\"
If Me.tkode.Value = "" Then
   MsgBox "Maaf, mau edit data? Silakan masukan dulu KODE BARANG nya", vbInformation, "Info"
   Me.tkode.SetFocus
   Exit Sub
End If
If tkode.Value = "" Then
MsgBox "TIdak ada yang harus diedit", vbInformation, "Info"
Else
Nomor = Trim(Me.tkode.Value)
    With Sheets("database")
    Baris = .Columns("B").Find(Nomor).Row
        .Range("B" & Baris).Value = Me.tkode.Value
        .Range("C" & Baris).Value = Me.tnama.Value
        .Range("D" & Baris).Value = Me.tsat.Value
        .Range("E" & Baris).Value = Me.tharga.Value
        
    End With
    MsgBox "Data berhasil diupdate ", vbInformation, "Info"

End If
End Sub



Private Sub tkode_Change()
Dim TidakDitemukan As Range
    Set TidakDitemukan = Sheets("database").Cells.Find(What:=tkode, LookIn:=xlFormulas, LookAt:=xlWhole)
Dim Cekdulu As String
Set NamaSheet = Sheets("database")
Dim Path As String: Path = ThisWorkbook.Path & "\" & "FotoSiswa" & "\"
On Error Resume Next
Set NamaRange = NamaSheet.Range("B2:B31")

If tkode.Value = "" Then
    tnama.Value = ""
    tsat.Value = ""
    tharga.Value = ""
   
End If

